



  

<ion-content [fullscreen]="true" align="center">
  <ion-label  >
    <ion-img src="../../assets/imgs/logo.png" style="margin-left: auto;margin-right:auto; margin-top:10%;height: 150px; width: 150px;"   ></ion-img>
    <ion-text >Content de vous revoir,</ion-text> 
    <ion-text align="center">
      <p>S'authentifier!</p>
    </ion-text>
  </ion-label> 
  
    <form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate  >
      <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
        <ion-item class="ion-margin-vertical">
          <ion-icon 
            name="mail-outline" slot="end" color="medium">
          </ion-icon>
            <ion-input  class="form-control"
          id="username" name="username"  
          placeholder="Saisir votre pseudonyme"  [(ngModel)]="username" required>
          </ion-input>
        </ion-item>
       
        
  
        <ion-item class="ion-margin-vertical">
          <ion-icon  name="lock-closed-outline" slot="end" color="medium" >
          </ion-icon>
         
          <ion-input 
          type="password" class="form-control" id="pwd" name="pwd"  placeholder="Saisir votre mot de passe"
          [(ngModel)]="pwd" required  >
          </ion-input>
        </ion-item>
        
        <ion-row class="ion-margin-vertical">
          <ion-col size="6" class="alignItems">
            <div align=left>
              <ion-checkbox></ion-checkbox>
              <ion-note>Souvenez-toi de moi</ion-note>
            </div>
          </ion-col>
          <ion-col size="6">
            <div align=right>
              <ion-note [routerLink]="['/', 'forget-pass']">Oublié mot de passe?</ion-note>
            </div>
          </ion-col>
        </ion-row>
        <ion-button color="primary" shape="round" type="submit">S'authetifier</ion-button>
        <p class="signup">
          <ion-note>
            Pas encore membre? <ion-text  color="primary" [routerLink]="['/', 'register']">S'inscrire</ion-text>
          </ion-note>
        </p>
      </ion-list>
    </form>
  </ion-content>