
<ion-content [fullscreen]="true">


  <form name="form-signin" (ngSubmit)="f.form.valid && goToo(user)" #f="ngForm" novalidate>
    <ion-list lines="none" class="ion-margin ion-text-center">
      <ion-item class="ion-margin-vertical">
        <ion-icon 
          name="person-outline" slot="end" color="medium">
        </ion-icon>
          <ion-input  class="form-control"
        id="firstName" name="firstName"  
        placeholder="Nom"  [(ngModel)]="user.first_name"
         #firstName="ngModel" required>
        </ion-input>
      </ion-item>
     
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="f.submitted && !firstName.valid"  >
        <p class="error">*Nom obligatoire</p>
      </ion-text>
      <ion-item class="ion-margin-vertical">
        <ion-icon 
          name="person-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input  class="form-control"
          placeholder="Prenom"
          id="lastName" name="lastName"  
           [(ngModel)]="user.last_name"
           #lastName="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text 
      class="ion-text-left"
      color="danger"
      *ngIf="f.submitted && !lastName.valid"  >
      <p class="error">*Prénom obligatoire</p>
    </ion-text>


    <ion-item class="ion-margin-vertical">
      <ion-icon 
        name="person-outline" slot="end" color="medium">
      </ion-icon>
      <ion-input  class="form-control"
        placeholder="Pseudonyme / Username"
        id="username" name="username"  
         [(ngModel)]="user.username"
         #username="ngModel" required>
      </ion-input>
    </ion-item>
    <ion-text 
    class="ion-text-left"
    color="danger"
    *ngIf="f.submitted && !username.valid"  >
    <p class="error">*S'il vous plait saisir un pseudonyme valide</p>
  </ion-text>


    <ion-item class="ion-margin-vertical">
     
        <ion-input  class="form-control" type="date"
      id="birthDate" name="birthDate"  
      placeholder="Date de naissance" [max]="2004-01-01"  [(ngModel)]="user.birth_date"
       #birthDate="ngModel" required>
      </ion-input>
    </ion-item>
   
    <ion-text 
      class="ion-text-left"
      color="danger"
      *ngIf="f.submitted && !birthDate.valid"  >
      <p class="error">*Date de naissance obligatoire</p>
    </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon 
          name="location-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input class="form-control"
          placeholder="Adresse"
          name="address"
          id="address" name="address"  
        [(ngModel)]="user.address"
           #address="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text 
      class="ion-text-left"
      color="danger"
      *ngIf="f.submitted && !address.valid"  >
      <p class="error">*S'il vous plait saisir une adresse valide</p>
    </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon 
          name="call-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input class="form-control"
          placeholder="Numéro téléphonique"
          id="phone" name="phone"  
          [(ngModel)]="user.phone"
           #phone="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text 
      class="ion-text-left"
      color="danger"
      *ngIf="f.submitted && !phone.valid"  >
      <p class="error">*S'il vous plait entrer un numéro téléphonique valide</p>
    </ion-text>


    <ion-item class="ion-margin-vertical">
      <ion-label color="dark">Ville</ion-label>
      <ion-select   placeholder="Entrez city" id="city" name="city"  
        [(ngModel)]="user.city"
       #accountType="ngModel" required   >
       <div *ngFor="let item of listCity">
        <ion-select-option  value="{{item}}">{{item}}</ion-select-option>
      </div>
    
      </ion-select>
    </ion-item>
    <ion-text 
      class="ion-text-left"
      color="danger"
      *ngIf="f.submitted && !accountType.valid"  >
      <p class="error">*Choix du Ville est obligatoire</p>
    </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon 
          name="mail-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input class="form-control"
          id="mail" name="mail"  pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
          placeholder="Adresse E-mail"  [(ngModel)]="user.mail"
           #mail="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text 
      class="ion-text-left"
      color="danger"
      *ngIf="f.submitted && !mail.valid"  >
      <p class="error">*S'il vous saisir une adresse E-mail valide</p>
    </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon (click)="onChange()"
          [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'" 
          slot="end" 
          [color]="isTypePassword ? 'medium' : 'primary'">
        </ion-icon>
        <ion-input class="form-control"
        
          [type]="isTypePassword ? 'password' : 'text'"
          placeholder="Enter Password"
          name="pwd"
          [(ngModel)]="user.pwd" #pwd="ngModel">
        </ion-input>
      </ion-item>
      <ion-text 
      class="ion-text-left"
      color="danger"
      *ngIf="f.submitted && !pwd.valid"  >
      <p class="error">*S'il vous plait saisir un mot de passe valide</p>
    </ion-text>

      <ion-row class="ion-margin-vertical">
        <ion-col size="12" class="alignItems">
          <div align=left>
            <ion-checkbox></ion-checkbox>
            <ion-note>J'accepte les politiques et les conditions</ion-note>
          </div>
        </ion-col>
      </ion-row>
      <ion-button color="primary" expand="full" type="submit" >suivant</ion-button>
    </ion-list>
  </form>


  
</ion-content>