<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center">
    <img src="../../assets/logo2.png" class="logo" />

    <div class="title">
        <h2>Welcome</h2>
        <p>Enjoy the Code Crafts App</p>
    </div>

    <div class="ion-margin-top">
        <ion-button  expand="block" class="ion-margin-top" [routerLink]="['/', 'register']">Créer un compte</ion-button>
        <ion-button expand="block" class="ion-margin-top" [routerLink]="['/', 'login']" fill="outline" color="black" >Connexion</ion-button>
    </div>
</ion-content>
