<ion-content [fullscreen]="true">
 


  
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/register" ></ion-back-button>
        <ion-text style="margin-left:70px;">Inscription Etape 2/2</ion-text>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

 

  <form name="form-signin" (ngSubmit)="f.form.valid && goToo(user)" #f="ngForm" novalidate>
    <ion-list lines="none" class="ion-margin ion-text-center">
    
      <ion-item class="ion-margin-vertical">
        <ion-label color="dark">Banque</ion-label>
        <ion-select       id="bank" name="bank"  
          [(ngModel)]="user.bank"
         #city="ngModel" required >
          <ion-select-option value="BIAT">BIAT</ion-select-option>
          <ion-select-option value="STB">STB</ion-select-option>
          <ion-select-option value="ATB">ATB</ion-select-option>
          <ion-select-option value="BNA">BNA</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="f.submitted && !city.valid"  >
        <p class="error">*Banque obligatoire/p>
      </ion-text>
  

      <ion-item class="ion-margin-vertical">
        <ion-label color="dark">Type compte</ion-label>
        <ion-select    id="accountType" name="accountType"  
          [(ngModel)]="user.account_type"
         #accountType="ngModel" required  >
          <ion-select-option value="courant ">Courant </ion-select-option>
          <ion-select-option value="Epargne ">Epargne </ion-select-option>
      
        </ion-select>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="f.submitted && !accountType.valid"  >
        <p class="error">*Type de compte obligatoire</p>
      </ion-text>



      <ion-item class="ion-margin-vertical">
        <ion-label color="dark">Type de travail</ion-label>
        <ion-select    id="city" name="workType"  
         [(ngModel)]="user.work_type"
         #workType="ngModel" required      >
          <ion-select-option value="public">Publique </ion-select-option>
          <ion-select-option value="privé ">Privé </ion-select-option>
      
        </ion-select>
      </ion-item>
      <ion-text 
      class="ion-text-left"
      color="danger"
      *ngIf="f.submitted && !workType.valid"  >
      <p class="error">*Type de travail obligatoire</p>
    </ion-text>


  



      <ion-button color="primary" expand="full" type="submit">suivant</ion-button>
    </ion-list>
  </form>


  
</ion-content>