<ion-content [fullscreen]="true">
 


  
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/register" ></ion-back-button>
        <ion-text>Inscription etape 2</ion-text>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

 

  <form name="form-signin" (ngSubmit)="f.form.valid && goToo(user)" #f="ngForm" novalidate>
    <ion-list lines="none" class="ion-margin ion-text-center">
    
      <ion-item class="ion-margin-vertical">
        <ion-label color="dark">Bank</ion-label>
        <ion-select      placeholder="Entrez bank" id="bank" name="bank"  
        placeholder="entrer votre Nom"  [(ngModel)]="user.bank"
         #city="ngModel" required >
          <ion-select-option value="BIAT">BIAT</ion-select-option>
          <ion-select-option value="STB">STB</ion-select-option>
          <ion-select-option value="ATB">ATB</ion-select-option>
          <ion-select-option value="BNA">BNA</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="f.submitted && !city.valid"  >
        <p class="error">*Nom obligatoir</p>
      </ion-text>
  

      <ion-item class="ion-margin-vertical">
        <ion-label color="dark">Type compte</ion-label>
        <ion-select   placeholder="Entrez bank" id="accountType" name="accountType"  
        placeholder="entrer votre Nom"  [(ngModel)]="user.accountType"
         #accountType="ngModel" required    placeholder="Enter ville" >
          <ion-select-option value="courant ">Courant </ion-select-option>
          <ion-select-option value="Epargne ">Epargne </ion-select-option>
      
        </ion-select>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="f.submitted && !accountType.valid"  >
        <p class="error">*Nom obligatoir</p>
      </ion-text>



      <ion-item class="ion-margin-vertical">
        <ion-label color="dark">Type de travail</ion-label>
        <ion-select    placeholder="Entrez bank" id="city" name="workType"  
        placeholder="entrer votre Nom"  [(ngModel)]="user.workType"
         #workType="ngModel" required     placeholder="Enter ville" >
          <ion-select-option value="courant ">public </ion-select-option>
          <ion-select-option value="Epargne ">privé </ion-select-option>
      
        </ion-select>
      </ion-item>
      <ion-text 
      class="ion-text-left"
      color="danger"
      *ngIf="f.submitted && !workType.valid"  >
      <p class="error">*Nom obligatoir</p>
    </ion-text>

     <!-- <ion-item class="ion-margin-vertical">
        <ion-label color="dark">Type d'identifier </ion-label>
        <ion-select    placeholder="Entrez bank" id="city" name="city"  
        placeholder="entrer votre Nom"  [(ngModel)]="user.city"
         #city="ngModel" required     placeholder="Enter ville" >
          <ion-select-option value="courant "> Carte d’identité national  </ion-select-option>
          <ion-select-option value="Epargne ">Passeport </ion-select-option>
      
        </ion-select>
      </ion-item>
      <ion-text 
      class="ion-text-left"
      color="danger"
      *ngIf="f.submitted && !city.valid"  >
      <p class="error">*Nom obligatoir</p>
    </ion-text>
-->
  



      <ion-button color="primary" expand="full" type="submit">suivant</ion-button>
    </ion-list>
  </form>


  
</ion-content>